Debug
Release
.metadata
/RemoteSystemsTempFiles
.cproject
.project
.settings
CMakeFiles
Makefile
*.cmake
CMakeCache.txt
*.dll
*.exe
Logfile.txt
*.a
*.so
DBGL_BASE_*
DBGL_SCENE_*
Doxyfile
DBGL_Base/.suppressed
/DBGL_Core/documentation
